name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Upload coverage report
      uses: codecov/codecov-action@v1.0.2
      with:
        token: 1d38b948-0d51-4606-98bf-8a0021df5f10
        file: ./coverage.txt
        flags: unittests
        name: codecov-hdq
